
.hiddenThumbnail {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid;   
}

.hiddenThumbnail > img {
	border-radius: 50%;
}

@media(max-width: 768px) {
	.description {
		word-wrap: break-word;
		text-align: justify;
		font-size: 10px;
	}	
}

@media(min-width: 768px){
	.hiddenThumbnail > img {
		border-radius: 50%;
		width: 50%;
	}	

	.description {
		word-wrap: break-word;
		text-align: justify;
		margin-top: 50px;
		font-size: 12px;
	}
}

.hiddenElement {
	display: none;
}

.formElement {
	margin: 20px;
}