
.hiddenThumbnail {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid;   
}

hiddenThumbnail > img {
	border-radius: 50%;
}

@media(min-width: 768px){
	.hiddenThumbnail > img {
		border-radius: 50%;
		width: 50%;
	}	
}

.hiddenElement {
	display: none;
}

.formElement {
	margin: 20px;
}